In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("customer_data.csv")
data

   CustomerID  Gender  Age Annual Income  Spending score(0-100)
0           1    Male   19      1,50,000                     39
1           2    Male   21      1,50,000                     81
2           3  Female   20      1,60,000                      6
3           4  Female   23      1,60,000                     77
4           5  Female   31      1,70,000                     40
5           6  Female   33      1,90,000                     92
6           7    Male   45      1,55,000                     43
7           8    Male   34      1,87,000                     67
8           9  Female   23      2,00,000                     45
9          10    Male   29      1,95,000                     94

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CustomerID             10 non-null     int64
 1   Gender                 10 non-null     object
 2   Age                    10 non-null     int64
 3   Annual Income          10 non-null     object
 4   Spending score(0-100)  10 non-null     int64
dtypes: int64(3), object(2)
memory usage: 528.0+ bytes

In [5]:
data.Gender

0      Male
1      Male
2    Female
3    Female
4    Female
5    Female
6      Male
7      Male
8    Female
9      Male
Name: Gender, dtype: object